<p id="notice"><%= notice %></p>
<%= link_to "Write Comment", new_user_post_comment_path(@user.id, @post.id) %>
<table>
	<tr> 
		<th> comments </th>
	</tr>
	<% @comments.each do |comment| %>
	<tr>
		<td><%= comment.text_comments %></td>
		<td><%= link_to "Edit", edit_user_post_comment_path(@user.id,@post.id,comment.id) %></td>
		 <td><%= link_to "Destroy", user_post_comment_path(@user.id, @post.id, comment.id), method: :delete, data: { confirm: 'Are you sure?' } %></td><br>
	</tr>
	<% end %>
	<tr>
		<td><%= link_to "Back", user_posts_path(@user.id) %></td>
	</tr> 
</table>
  	